<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.joker.common.utils" status="info"
	shutdownHook="disable">
	<!-- Warning: 1. Name is Case sensitive 2. Create log folder firstly when 
		you deploy -->
	<!-- TODO: modify Properties below when deploy on target server ${sys:user.home} -->
	<Properties>
		<Property name="errorfilename">error</Property>
		<Property name="devfilename">dev</Property>
		<Property name="illegallog">illegalmsg</Property>
		<Property name="online">online</Property>
		<Property name="queue">queue</Property>
		<Property name="rabbit_mq">rabbit_mq</Property>
		<Property name="logpath">/mnt/logs/xnsccp
		</Property>
		<Property name="backup">/mnt/logs/xnsccp/backup
		</Property>
		<!-- <Property name="logpath">/data/cp_log_test/server -->
		<!-- </Property> -->
		<!-- <Property name="backup">/data/cp_log_test/server/backup -->
		<!-- </Property> -->

	</Properties>
	<Appenders>
		<!-- output to the standard IO, used in IDE -->
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %LOGGER{36} 
			- %msg%n" />
		</Console>

		<!-- log time msg -->

		<RollingRandomAccessFile name="QUEUE"
			fileName="${logpath}/${queue}.log"
			filePattern="${backup}/${queue}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.queue.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level  %L %M - %msg%xEx%n">
				<!-- <header>null${sys:line.separator}</header> -->
				<!-- <footer>null</footer> -->
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="ONLINE"
			fileName="${logpath}/${online}.log"
			filePattern="${backup}/${online}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.online.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level  %L %M - %msg%xEx%n">
				<!-- <header>null${sys:line.separator}</header> -->
				<!-- <footer>null</footer> -->
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>


		<!-- output error append to error.log TODO: send email to someone [SMTPAppender] -->
		<RollingRandomAccessFile name="ERROR"
			fileName="${logpath}/${errorfilename}.log"
			filePattern="${backup}/${errorfilename}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.error.log.gz"
			append="true">
			<Filters>
				<MarkerFilter marker="ILLEGAL" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="ERROR" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<PatternLayout
				pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingRandomAccessFile>

		<!-- output default info into Rolling file -->
		<RollingRandomAccessFile name="DEVLOG"
			fileName="${logpath}/${devfilename}.log"
			filePattern="${backup}/${devfilename}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.dev.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingRandomAccessFile>


		<!-- log illegal msg -->
		<RollingRandomAccessFile name="ILLEGALLOG"
			fileName="${logpath}/${illegallog}.log"
			filePattern="${backup}/${illegallog}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<MarkerFilter marker="ILLEGAL" onMatch="ACCEPT"
				onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="RABBIT_MQ"
			fileName="${logpath}/${rabbit_mq}.log"
			filePattern="${backup}/${rabbit_mq}/$${date:yyyy-MM-dd}/%d{MM-dd-yyyy}-%i.rabbit_mq.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level  %L %M - %msg%xEx%n">
				<!-- <header>null${sys:line.separator}</header> -->
				<!-- <footer>null</footer> -->
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<!-- <AppenderRef ref="ONLINE" /> -->
			<AppenderRef ref="DEVLOG" />
			<!-- <AppenderRef ref="CONSOLE" /> -->
			<AppenderRef ref="ERROR" />
		</Root>
		<LOGGER name="online" level="info" additivity="false">
			<AppenderRef ref="ONLINE" />
			<!-- <AppenderRef ref="CONSOLE" /> -->
		</LOGGER>
		<LOGGER name="queue" level="info" additivity="false">
			<AppenderRef ref="QUEUE" />
			<!-- <AppenderRef ref="CONSOLE" /> -->
		</LOGGER>
		<LOGGER name="rabbit_mq" level="info" additivity="false">
			<AppenderRef ref="RABBIT_MQ" />
			<!-- <AppenderRef ref="CONSOLE" /> -->
		</LOGGER>
	</Loggers>
</Configuration>